{% extends 'base.html' %}

{% block head %}
<title>Home</title>
{% endblock %}

{% block body %}
<br>
<h1>Home Page</h1>
<br>
    <main role="main">
        <div class="jumbotron">
          <div class="col-sm-8 mx-auto">
            <h1>Welcome</h1>
              <p>This example is a quick exercise to illustrate how would be my <code>Blog</code> if I was a writer.
                  In this case, I would write about computer science, machine learning, frameworks and other data science stuff.</p>
              <p>Click here to contact us <a href="https://vk.com/ira_lifa">ira_milka_</a>, I am always ready for productive cooperation.</p>
            <p>
              <a class="btn btn-primary" href="/posts" role="button">Go to Posts &raquo;</a>
            </p>
          </div>
        </div>
    </main>
{% endblock %}